div.story_list
{
	background-color:#EED675;
	padding: 0;

	color: black;
	height: 5em;
	margin: 1em;
}
div.story_list div
{
	display: inline-block;
	line-height: 3em;
	height: 3em;
	margin: 1em;
}

div.story_list div.title
{

}


div.story_list div.blurb
{

}


div.story_list div.count 
{

}