@font-face {
    font-family: 'alegreya_sansblack';
    src: url('AlegreyaSans-Black-webfont.eot');
    src: url('AlegreyaSans-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('AlegreyaSans-Black-webfont.woff') format('woff'),
         url('AlegreyaSans-Black-webfont.ttf') format('truetype'),
         url('AlegreyaSans-Black-webfont.svg#alegreya_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
    
    
@font-face {
    font-family: 'gothamblack';
    src: url('gotham-black-webfont.eot');
    src: url('gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-black-webfont.woff') format('woff'),
         url('gotham-black-webfont.ttf') format('truetype'),
         url('gotham-black-webfont.svg#gothamblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamblack_italic';
    src: url('gotham-blackita-webfont.eot');
    src: url('gotham-blackita-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-blackita-webfont.woff') format('woff'),
         url('gotham-blackita-webfont.ttf') format('truetype'),
         url('gotham-blackita-webfont.svg#gothamblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothambold';
    src: url('gotham-bold-webfont.eot');
    src: url('gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-bold-webfont.woff') format('woff'),
         url('gotham-bold-webfont.ttf') format('truetype'),
         url('gotham-bold-webfont.svg#gothambold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothambold_italic';
    src: url('gotham-boldita-webfont.eot');
    src: url('gotham-boldita-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-boldita-webfont.woff') format('woff'),
         url('gotham-boldita-webfont.ttf') format('truetype'),
         url('gotham-boldita-webfont.svg#gothambold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothambook';
    src: url('gotham-book-webfont.eot');
    src: url('gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-book-webfont.woff') format('woff'),
         url('gotham-book-webfont.ttf') format('truetype'),
         url('gotham-book-webfont.svg#gothambook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothambook_italic';
    src: url('gotham-bookita-webfont.eot');
    src: url('gotham-bookita-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-bookita-webfont.woff') format('woff'),
         url('gotham-bookita-webfont.ttf') format('truetype'),
         url('gotham-bookita-webfont.svg#gothambook_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamlight';
    src: url('gotham-light-webfont.eot');
    src: url('gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-light-webfont.woff') format('woff'),
         url('gotham-light-webfont.ttf') format('truetype'),
         url('gotham-light-webfont.svg#gothamlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamlight_italic';
    src: url('gotham-lightita-webfont.eot');
    src: url('gotham-lightita-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-lightita-webfont.woff') format('woff'),
         url('gotham-lightita-webfont.ttf') format('truetype'),
         url('gotham-lightita-webfont.svg#gothamlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothammedium';
    src: url('gotham-medium-webfont.eot');
    src: url('gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-medium-webfont.woff') format('woff'),
         url('gotham-medium-webfont.ttf') format('truetype'),
         url('gotham-medium-webfont.svg#gothammedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothammedium_italic';
    src: url('gotham-mediumita-webfont.eot');
    src: url('gotham-mediumita-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-mediumita-webfont.woff') format('woff'),
         url('gotham-mediumita-webfont.ttf') format('truetype'),
         url('gotham-mediumita-webfont.svg#gothammedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamthin';
    src: url('gotham-thin-webfont.eot');
    src: url('gotham-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-thin-webfont.woff') format('woff'),
         url('gotham-thin-webfont.ttf') format('truetype'),
         url('gotham-thin-webfont.svg#gothamthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamthin_italic';
    src: url('gotham-thinita-webfont.eot');
    src: url('gotham-thinita-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-thinita-webfont.woff') format('woff'),
         url('gotham-thinita-webfont.ttf') format('truetype'),
         url('gotham-thinita-webfont.svg#gothamthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamultra';
    src: url('gotham-ultra-webfont.eot');
    src: url('gotham-ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-ultra-webfont.woff') format('woff'),
         url('gotham-ultra-webfont.ttf') format('truetype'),
         url('gotham-ultra-webfont.svg#gothamultra') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamultra_italic';
    src: url('gotham-ultraita-webfont.eot');
    src: url('gotham-ultraita-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-ultraita-webfont.woff') format('woff'),
         url('gotham-ultraita-webfont.ttf') format('truetype'),
         url('gotham-ultraita-webfont.svg#gothamultra_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamextra_light';
    src: url('gotham-xlight-webfont.eot');
    src: url('gotham-xlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-xlight-webfont.woff') format('woff'),
         url('gotham-xlight-webfont.ttf') format('truetype'),
         url('gotham-xlight-webfont.svg#gothamextra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamextra_light_italic';
    src: url('gotham-xlightita-webfont.eot');
    src: url('gotham-xlightita-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-xlightita-webfont.woff') format('woff'),
         url('gotham-xlightita-webfont.ttf') format('truetype'),
         url('gotham-xlightita-webfont.svg#gothamextra_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;


}

