body {
	margin:0;
    padding:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
    background-color:#eaeaea;
}

.center {
    width:800px;
    margin:0 auto;
}

.clear {
    clear:both;
}

p.view{
	margin-top:30px;
    margin-bottom: 20px;
    text-align:justify;
    font-family: 'Signika', sans-serif;
}

p.edit{
	margin-top:30px;
    margin-bottom: 20px;
    text-align:justify;
    font-family: 'Rokkitt', serif;
    font-size:21px;
}

a {
	color: #E67300;
    text-decoration:none;
}

a:hover  {
    text-decoration:underline;
}

article {
    width:800px;
    margin:0 auto;
    min-height:800px;
    padding:10px 5px 20px 5px;
    background-color:#fff;
    box-sizing:border-box;
}

.bigger {
	font-size: 30px;
}

/* headings */
article h1 {
	font-size: 35px;
    color:#555;
	font-weight: bold;
	margin-bottom: 20px;
	line-height: 29px;
    text-align:center;
    padding:5px 0;
    border-bottom:1px solid #aaa;
}

article h2 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 19px;
	line-height: 21px;
	padding-top: 18px;
	margin-top: 25px;
}

article h3 {
	font-size: 17px;
	font-weight: bold;
	line-height: 19px;
	margin-bottom: 17px;
	margin-top: 25px;
}


/* definition list */
dl {
	width: 400px;
	margin-bottom: 20px;
}

	dt {
		font-weight: bold;
		display: inline-block;
		width: 80px;
	}
	
	dd {
		display: inline-block;
		width: 300px;
	}


/* lists */
ol, ul {
	padding-left: 16px;
	margin-bottom: 20px;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

a {
    display:block;
}   

/* form */
fieldset {
	/*border: 1px solid black;*/
	padding: 20px;
    margin-bottom:40px;
}

legend {
	font-weight: bold;
    font-style:italic;
}

form label, form input {
	display: inline-block;
    outline:none;
}

form input[type=text], form input[type=email]{
    padding:3px 8px;
    box-shadow:inset 1px 1px 1px 0px rgba(50,50,50,0.2);
    -webkit-transition: box-shadow 0.1s;
}

form input[type=text]:focus {
    box-shadow:inset 1px 1px 6px 0px rgba(50,50,50,0.3);
}

form label {
	width: 70px;
}

form input[type=text] {
	width: 300px;
	border: 1px solid #ddd;
	height: 20px;
}

form input[type=text].lastname {
	text-transform: uppercase;
}

form input[type=submit], button {
	float:left;
	margin-top: 10px;
    background-color:#ccc;
    border:none;
    cursor:pointer;
    padding:3px 20px;
    box-shadow: 1px 1px 1px rgba(20,20,20,0.5);
}
form input[type=submit]:active {
    position:relative;
    top:1px;
    left:1px;
    box-shadow: 0px 0px 1px rgba(20,20,20,0.5);
}




header {
	background-color: #464646;
    padding-top:10px;
}
	header h1 {
		font-size: 50px;
        margin:0;
        text-align:center;
        background:transparent;
        font-weight:bold;
        padding-top:15px;
	}
    header h1 a {
        color:#fff;
        text-decoration:none !important;
    }

	header nav {
		float:right;
        margin-top:15px;
	}
    
    header nav ul {
        list-style:none;
        margin:0;
        padding:0;
    }
    header nav ul li {
        float:left;
        margin-left:15px;
    }
    header nav ul li a {
        font-size:18px;
    }
	
		header nav a {
            
		}
        
footer {
    background-color:black;
    height:20px;
    color:white;
    text-align: center;
    padding:6px;
} 

table.borders {
    font-size:16px;
    width:100%;
    text-align:justify;
    border:1px solid #a8a8a8;
    border-collapse:collapse;
}

table.borders td, th {
    word-wrap:break-word;
    border-right:1px dotted #a8a8a8;
    border-bottom:1px dotted #a8a8a8;
    padding:10px 4px 10px 4px;
    line-height:18px;
}
input { 
    font-family:Helvetica, sans-serif;
    font-size:14px;
    padding: 3px;
}


#tblCreateStory {
    
}
#tblCreateStory tr  td{
    padding:5px;
}

#errorBox {
    background-color:#faa;
    padding:10px;
    margin:15px;
}

#errorBox ul {
    margin:0;
    padding:0;
    padding-left:15px;
}








