body {
	margin:0;
    padding:0;
    font-family:gotham;
	font-size: 14px;
	line-height: 21px;
    background: #f5f5f5;
}

.clear {
    clear:both;
}

p.blurb{
    border: dashed 1px #a8a8a8;
    padding: 13px;
    margin: 30px;
    text-align: justify;
    font-family: 'gotham', sans-serif;
}

p.edit{
	margin-top:30px;
    margin-bottom: 20px;
    text-align:justify;
    font-family: 'Rokkitt', serif;
    font-size:21px;
}

a {
	color: #E67300;
    text-decoration:none;

}

a:hover  {
    text-decoration:underline;
}

article {
    width: 950px;
    margin-left: 280px;
    min-height:100%;
    padding: 40px 45px;
    box-sizing:border-box;
}

article#view-story {
    width: auto;
}

.bigger {
	font-size: 30px;
}

/* headings */
article h1 {
    position: absolute;
    top: 150px;
    left: 0;
    overflow:hidden;
    width: 260px;
	margin-bottom: 20px;
    padding: 30px 10px;

    background-color: #FFF3D5;

    text-align:center;
    font-family:'gotham';
	font-size: 30px;
	font-weight: none;
	line-height: 1.3;
    text-transform: uppercase;
}

article h2 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 19px;
	line-height: 21px;
}

article h3 {
	font-size: 17px;
	font-weight: bold;
	line-height: 19px;
	margin-bottom: 17px;
	margin-top: 25px;
}


/* definition list */
dl {
	width: 400px;
	margin-bottom: 20px;
}

	dt {
		font-weight: bold;
		display: inline-block;
		width: 80px;
	}
	
	dd {
		display: inline-block;
		width: 300px;
	}


/* lists */
ol, ul {
	padding-left: 16px;
	margin-bottom: 20px;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

a {
    display:block;
}   

/* form */
fieldset {
	/*border: 1px solid black;*/
	padding: 20px;
    margin-bottom:40px;
}

legend {
	font-weight: bold;
    font-style:italic;
}

form label, form input {
	display: inline-block;
    outline:none;
}

form input[type=text], form input[type=email], form input[type=password]{
    padding:3px 8px;
    box-shadow:inset 1px 1px 1px 0px rgba(50,50,50,0.2);
    -webkit-transition: box-shadow 0.1s;
}

input[type=text]:focus, input[type=password]:focus{
    box-shadow:inset 1px 1px 6px 0px rgba(50,50,50,0.3);
}

form label {
	width: 70px;
}

form input[type=text] {
	width: 300px;
	border: 1px solid #ddd;
	height: 20px;
}

form input[type=password] {
	width: 300px;
	border: 1px solid #ddd;
	height: 20px;
}

form input[type=text].lastname {
	text-transform: uppercase;
}

form input[type=submit], button {
	float:left;
	margin-top: 10px;
    background-color:#ccc;
    border:none;
    cursor:pointer;
    padding:3px 20px;
    box-shadow: 1px 1px 1px rgba(20,20,20,0.5);
}

button a {
    color:black;
    text-decoration:none !important;
}

form input[type=submit]:active {
    position:relative;
    top:1px;
    left:1px;
    box-shadow: 0px 0px 1px rgba(20,20,20,0.5);
}



header {
	background-color: #ff7128;
	position: absolute;
    float:left;
	width: 280px;
    height:100%;
}

	header h1 {
        margin: 40px 0 0 40px;
        border-top: solid 4px #111;
		padding-top: 5px;
        width: 170px;

		font-size:32px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1;
        font-family: 'gotham', serif;
	}

		header h1 span {
			font-weight: 300;
			font-size: 20px;
            
			
		}
        
    header h1 a {
        color:#000;
        text-decoration:none !important;
        top:50px;
    }

	header nav {
		margin-top: 30px;
        padding-right: 40px;
        font-size:15px;
    }
    
    header nav ul {
        list-style:none;
        margin:0;
        padding:0;
        float:right;
    }
    header nav ul li {
        float:right;
        text-align: right;
        margin-left:15px;
    }
    header nav ul li a {
        font-size:15px;
        letter-spacing:1px;
        color:white;
    }     
        
footer {
    font-family:'gotham', sans serif;
    font-size:12px;
    float:center;
    bottom:5px;
    position:absolute;
    
}

table.borders {
    font-size:16px;
    width:800px;
    text-align:justify;
    border:1px solid #a8a8a8;
    border-collapse:collapse;
    position:relative;
}

/*dont show extra data if less then 1350*/
@media screen and (min-width: 1300px){
    tr.story-row:hover td .summary {
        display:block;
        
    }
    td .summary {
        display:none;
        position:absolute;
        right:-250px;
        margin-top:-33px;
        padding-left:8px;
        background-image:url('/static/images/descArrow.png');
        background-repeat:no-repeat;
        background-position:0 15px;
    }
    td .summary .text {
        background-color:#ddd;
        width:230px;
        box-sizing:border-box;
        padding: 15px 10px;
        border-radius: 3px;
    }
}

@media screen and (max-width: 1300px){
    td .summary {
        font-size:12px;
    }
}

tr.story-row:hover {
    background-color:#ddd !important;
}



table.borders td, th {
    word-wrap:break-word;
    border-right:1px dotted #a8a8a8;
    padding:10px 4px 10px 4px;
    line-height:18px;
    font-weight:bold;
}

input { 
    font-family:Helvetica, sans-serif;
    
    font-size:14px;
    padding: 3px;
}


#tblCreateStory {
    
}
#tblCreateStory tr  td{
    padding:5px;
}

#tbl_input_user {
    
}
#tbl_input_user tr  td{
    padding:5px;
}

#errorBox {
    background-color:#faa;
    padding:10px;
    margin:15px;
}

#errorBox ul {
    margin:0;
    padding:0;
    padding-left:15px;
}
#headCaption {
    margin-top: 200px;
    padding: 0 40px;

    
    text-align: right;
    color:black;
    letter-spacing:2px;
    text-transform:uppercase;
    font-family: 'AlegreyaSans', sans-serif;
}

#storyList {
    box-sizing:border-box;
    width: 100%;
}

#storyList tr:nth-child(odd)
{
    background:#e5e5e5;
}
#storyList th{   
    font-weight: bold;
}

#storyList a {
    color:#000;
    text-decoration:underline;
    font-weight:normal;
}

#bold {
    font-weight:bold;
}

#normal {
    font-weight:normal;
}

#userStats {
    float:right;
    margin-right:20px;
}

#userProfile tr td:first-child {
    text-align:right;
    padding-right:5px;
    font-weight:bold;
    font-size:20px
}

#userProfile tr td:last-child {
    width:000px;
}

#userProfile tr:nth-child(2n-1){
    background-color:#ddd;
}

#userProfile tr td {
    font-size:17px;
    padding:5px 5px;
}

#profileImage {
    float:left;
    margin-left:0px;
    margin-top:30px;
}
#profileImage img {
    width: 200px;
}





/*form input {
    width:300px;
    margin-bottom:5px;
    line-height:18px;
    padding:2px 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCC;
}
form label{
    width: 80px;
    display: inline-block
 }*/
