#story-tree {
	overflow-x: auto;
}

.tree {
	border: none;
	width: auto;
}

.child {
	background-color: rgba(128,216,186, 0.1) !important;
}

.child td {
	border-radius: 20px;
	border-left: none;
	border-right: none;
}

.upvotes {
	display: inline-block;
}
	.up {
		color: green;
		font-size: 2em;
	}

.reply input[name="word"] {
	width: 60px;
}

/** {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}*/

* {
	vertical-align: middle !important;
}