{% include templates/header.html user=user%}

<article>
    <h1>Create a Story</h1>
    {% if len(errors) != 0 %}
        <div id="errorBox">
            <ul>
                {% for error in errors %}
                    <li> {{ error }} </li>
                {% end for %}
            </ul>
        </div>
    {% end if %}
    <form action="/story" method="post">
            <table id="tblCreateStory">
                <tr>
                    <td align="right">Title:</td>
                    <td><input type="text"
                    name="title" placeholder="Enter story title here"></td>
                </tr>
                <tr>
                    <td align="right">Word:</td>
                    <td>
                        <input type="text"
                            name="firstword" placeholder="Eg: Once...">
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Create"></input><button onclick="location.href='../'" type="button"><a href="../">Cancel</a></button></td>
                </tr>
            </table>
    </form>
        
</article>
{% include templates/footer.html %}