<!doctype html>
<html>
    <head>    
       <title>Word By Word</title>
       <link rel= "stylesheet" type="text/css" href="/static/css/reset.css">
       <link rel= "stylesheet" type="text/css" href="/static/css/style.css">
       <link rel= "stylesheet" type="text/css" href="/static/css/font.css">
       <script typt="text/javascript" src="/static/javascript/jquery.js">
        
       </script>
    </head>
    <body>
        <header>
            <div class="center">
                <h1>
                    <a href="/">Word By Word</a>
                </h1>
                <div id="headCaption">
                    Write a word. Read a story.
                </div>
                <nav>
                    <ul>
                        <li><a href="/story">Create a Story</a></li>
                        <li><a href="/">All Stories</a></li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </header>
