<!doctype html>
<html>
    <head>    
       <title>{{ story.title + ' - '}}Word By Word</title>
       <link rel= "stylesheet" type="text/css" href="/static/css/reset.css">
       <link rel= "stylesheet" type="text/css" href="/static/css/style.css">
       <link rel= "stylesheet" type="text/css" href="/static/css/font.css">
       <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
       <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
       <script type="text/javascript" src="https://rawgithub.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
       <link rel= "stylesheet" type="text/css" href="/static/fonts/gotham/gotham.css">
       <link rel="stylesheet" type="text/css" href="/static/css/viewstory.css">
    </head>
    <body>
        <header>
            <h1>
                <a href="/">Word By Word</a>
            </h1>
                
            <div id="headCaption">
                Write a word.<br/>Read a story.
            </div>
            <nav>
                <ul>
                    {% if user is not None %}
                        <li>Welcome, {{ user.username }}</li><br><br>
                    {% end if %}
                    <li><a href="/">Top Stories</a></li><br>
                    {% if user is not None %}
                        <li><a href="/story">Create a Story</a></li><br>
                        <li><a href="/user/{{ user.username }}">{{ user.username }}'s Profile</a></li><br>
                        <li><a href="/mystories">My Stories</a></li><br>
                        <li><a href="/logout">Logout</a></li><br>
                    {% else %}
                        <li><a href="/login">Login</a></li><br>
                        <li><a href="/register">Register</a></li>
                    {% end if %}
                </ul>
            </nav>
            <div class="clear"></div>
        </header>
