<!doctype html>
<html>
    <head>    
       <title>Word By Word</title>
       <link rel= "stylesheet" type="text/css" href="HTML/reset.css">
       <link rel= "stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <a href="/">
                <img src="../HTML/example.gif" width = "95" height = "75">
                <h1>Word By Word</h1>
            </a>       
            <nav>
                <a href="/create">Create A Story</a>
            </nav>
        </header>