{% include templates/header.html user=user%}

<article>
    {% if user is not None %}
        Welcome {{user}}
    {% end if %}
    {% if user is None %}
        <h1>Create account</h1>
        {% if len(errors) != 0 %}
            <div id="errorBox">
                <ul>
                    {% for error in errors %}
                        <li> {{ error }} </li>
                    {% end for %}
                </ul>
            </div>
        {% end if %}
        <form method="post">
            <table id="tbl_input_user">
                <tr>
                    <td>Name:</td>
                    <td><input name="name" id="name" type="text" 
                    title="Please Enter A User Name" placeholder="Enter Name Here"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input name="password" id="password" 
                        type="password" title="Please Enter A Password" placeholder="Enter Password Here" />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input name="submit" type="submit" value="Submit"/></td>
                </tr>
            </table>
        </form>
    {% end if %}

</article>
{% include templates/footer.html %}