{% include templates/header.html %}

<article>
    {% if user is not None %}
        Welcome {{user}}
    {% end if %}
    {% if user is None %}
        <h1>Create account</h1>
        <form method="post">
            <table id="tbl_input_user">
                <tr>
                    <td>Name:</td>
                    <td><input name="name" id="name" type="text" 
                    title="Please Enter A User Name" placeholder="Enter Name Here"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input name="password" id="password" 
                        type="password" title="Please Enter A Password" placeholder="Enter Password Here" />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input name="submit" type="submit" value="Submit"/></td>
                </tr>
            </table>
        </form>
        <div id="errorBox">
            <ul>
                {% if good_username == False %}
                    <li>Bad Username. (Username must contain letters, numbers or _ etc.)</li>
                {% end if %} 
                {% if username_taken == True %}
                    <li>Username already taken. Please try another username!</li>
                {% end if %} 
                {% if good_password == False %}
                    <li>Bad password.(Must be at least 5 letters!)</li>
                {% end if %} 
            </ul>
        </div>

    {% end if %}

</article>
{% include templates/footer.html %}