{% include templates/header.html user=user%}
<article>
   <h1>Scoreboard</h1>
   <h2>Highest Scoring Users</h2>
   <p class = "blurb">Users displayed here are those who have received the highest number of votes for words they have submitted.
   <br />
   For each of these users, it also displays their highest ranked story, along with total votes associated with that story.</p>
    <table class="borders" id="userList">
        <tr class='bold'>
            <th style="width: 200px;">User</th>
            <th style="width: 125px;">Total Votes</th>
            <th>Top Story</th>
            <th style="width: 125px;">Votes</th>
        </tr>
        {% if len(users) %}
            {% for u in users %}
                <tr class="user-row">
                    <td class="normal"><a href="/user/{{u.username}}">{{ u.username }}</a></td>
                    <td>{{ u.score }}</td>
                    {% if u.top_story %}
                    <td class="normal"><a href="/story/{{ u.top_story.story_id }}">{{ u.top_story.title }}</a></td>
                    <td>{{ u.top_story.total_votes }}</td>
                    {% else %}
                    <td colspan="2"> This user has yet to author a story </td>
                    {% end if %}
                </tr>
            {% end for %}
            {% if pages > 1 %}
            <tr class="user-row">
                <td colspan="4">
                    {% if page > 1 %}
                        <span style='float:left;'>
                            <a href="/page/{{ str(page-1) }}">Page {{ str(page-1) }}</a>
                        </span>
                    {% end if %}
                    {% if page < pages %}
                        <span style='float:right;'>
                            <a href="/page/{{ str(page+1) }}">Page {{ str(page+1) }}</a>
                        </span>
                    {% end if %}
                </td>
            </tr>
            {% end if %}
        {% else %}
            <tr>
                <th colspan="4">
                There are currently no users.<br />
                <a href="/register">Register!</a>
                </th>
            </td>
        {% end if %}
    </table>
</article>
{% include templates/footer.html %}
