{% include templates/header.html %}
<article>
   <h1>List of Stories</h1>
    <table class="borders">
        <tr>
            <th>Title</th>
            <th width="125">Votes</th>
        </tr>
        {% for story in stories %}
            <tr class="story-row">
                <td><a href="/story/{{story.story_id}}">{{ story.title }}</a>
                    <div class="summary">this is a test</div>
                </td>
                <td>{{ story.total_votes }}</td>
            </tr>
        {% end for %}
    </table>
</article>
{% include templates/footer.html %}
