{% include templates/header.html %}
<article>
    {% if user %}
        <h1>{{user.username}}'s profile</h1>
        
        <table>
            <tr>
                <td>Total words entered:</td>
                <td>{{user.stats.total_words}}</td>
            <tr>
            <tr>
                <td>Total stories created:</td>
                <td>{{user.stats.total_stories_created}}</td>
            </tr>
            <tr>
                <td>Total stories contributed to:</td>
                <td>{{user.stats.total_stories_contributed}}</td>
            </tr>
            <tr>
                <td>Total votes:</td>
                <td>{{user.stats.total_votes}}</td>
            </tr>
            <tr>
                <td>Most up-voted word:</td>
                <td>{{user.stats.most_upvoted_word}}</td>
            </tr>
            <tr>
                <td>Most frequently used word:</td>
                <td>{{user.stats.frequent_word}}</td>
            </tr>
            <tr>
                <td>Top created story:</td>
                <td>{{user.stats.top_story}}</td>
            </tr>
        </table>
    {% else %}
        <div id="errorBox">
            User not found
        </div>
    {% end if %}
    
</article>
{% include templates/footer.html %}


