{% include templates/header.html user=current_user%}
<article id="cuserProfile">
    {% if display_user %}
        <h1>{{display_user.username}}'s profile</h1>
        
        <div id="profileImage">
            <img src="{{display_user.image_url}}" alt="{{display_user.username}}" />
        </div>
        
        <div id="userStats">
            <table>
                <tr>
                    <td>Username:</td>
                    <td>{{display_user.username}}</td>
                </tr>
                {% if current_user %}
                {% if current_user.username == display_user.username %}
                <tr>
                    <td>E-mail:</td>
                    <td>{{display_user.email}}</td>
                </tr>
                {% end if %}
                {% end if %}
                <tr>
                    <td>Total words entered:</td>
                    <td>{{display_user.stats.total_words}}</td>
                </tr>
                <tr>
                    <td>Total stories created:</td>
                    <td>{{display_user.stats.total_stories_created}}</td>
                </tr>
                <tr>
                    <td>Total stories contributed to:</td>
                    <td>{{display_user.stats.total_stories_contributed}}</td>
                </tr>
                <tr>
                    <td>Total votes:</td>
                    <td>{{display_user.stats.total_votes}}</td>
                </tr>
                <tr>
                    <td>Most up-voted word:</td>
                    <td>{{display_user.stats.most_upvoted_word}}</td>
                </tr>
                <tr>
                    <td>Most frequently used word:</td>
                    <td>{{display_user.stats.frequent_word}}</td>
                </tr>
                <tr>
                    <td>Top created story:</td>
                    <td>{{display_user.stats.top_story}}</td>
                </tr>
            </table>
        </div>
    {% else %}
        <h1>User not found</h1>
        <div id="errorBox">
            User not found
        </div>
    {% end if %}
    
</article>
{% include templates/footer.html %}


