<!doctype html>

<html>
    <head>
        <title>{{ title }} - Word By Word</title>
    </head>
    <body>
        {% include templates/header.html %}
            <header id="something">
                <h1 id="main-title">{{ story.title }}</h1>
                <h3 id="current-sentence"></h3>
            </header>
            <content id="story-tree">
                {% include templates/word.html word=story.first_word %}
            </content>
        {% include templates/footer.html %}
    </body>
</html>