<div class="popup" id="word-{{word.id}}">
	<div class="vote">
		Votes: <sup>{{ word.votes }}</sup>
		<div class="upvotes">
	    	<form class="vote_button" method="POST" action="/story/{{ story.story_id }}/word/{{ word.id }}/vote">
				<input type="submit" value = "&uarr;">
			</form>
			<!-- <span class="num">0</span> -->
		</div>
	</div>
	<div class="reply" id="new_add_word">
		<form class = "up" method="POST" action="/story/{{ story.story_id }}/{{ word.id }}/reply">
			<input type="text" placeholder="Next word" name="word">
		</form>
	</div>
</div>

{% if word.children %}
	{% for child in word.children %}
		{% include templates/word.html user=user word=child story=story %}
	{% end for %}
{% end if %}
