<table id="child-{{ word.id }}" class="child">
	<tr>
		<td>
			
			<span class="word">{{ word.value }} {% if not word.fixed() %}<sup>{{ word.votes }}</sup>{% end if %}</span>
			{% if not word.fixed() %}
            <div class="upvotes">
                <form method="POST" action="/story/{{ story.story_id }}/word/{{ word.id }}/vote">
					<input type="submit" value="&uarr;" class="up-arrow">
				</form>
				<!-- <span class="num">0</span> -->
			</div>
			<div class="reply">
				<form method="POST" action="/story/{{ story.story_id }}/{{ word.id }}/reply">
					<input type="text" name="word" placeholder="Next word" class="auto-submit">
				</form>
			</div>
            <div class="clear"></div>
			{% end if %}
		</td>
		{% if word.children %}
			<td class="children">
			{% for child in word.children %}
				{% include templates/word.html word=child story=story %}
			{% end for %}
			</td>
		{% end if %}
	</tr>
</table>